@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Membership Director Doug</strong>   <a href="lmycmembership@gmail.com">lmycmembership@gmail.com</a><br />
</address>